<div class="screen-container column">
    <div class="column start">
        <!--  <button class="bold m-bottom-7 row middle" (click)="goToBack()">
		<span class="icon icon-long-left-arrow back-arrow deep-sea-green"></span>
		<span class="poppins text-big deep-sea-green bold m-left-2">Volver</span>
	  </button> -->
        <h3 class="title-small bold deep-sea-green m-bottom-9">
            Detalle del proveedor
        </h3>
    </div>
    <profile-info> </profile-info>
    <!--  <div *ngIf="dataToSubsidiaries" class="m-top-6">
        <subsidiaries-list [dataToSubsidiaries]="dataToSubsidiaries"></subsidiaries-list>
    </div> -->
</div>