<div class="screen-container-prov-detail column2 no-float">
    <div class="column2 start">

    <!-- TODO se quita routerlink 
    <button class="bold m-bottom-7 row middle">
		  <span class="icon icon-long-left-arrow back-arrow deep-sea-green"></span>
		  <span class="poppins text-big deep-sea-green bold m-left-2">Volver</span>
    </button> -->
      <a class="text-big poppins bold deep-sea-green m-bottom-6 row2 middle link-simple" href="/providers">
        <i class="icon icon-long-left-arrow deep-sea-green title-medium m-right-1"></i>
        Volver
      </a>
      <h3 class="title-small bold deep-sea-green m-bottom-9">
        Detalle del proveedor
      </h3>
    </div>
    <profile-info [roleProfile]="ROLES.provider"></profile-info>
    <div *ngIf="dataToSubsidiaries && canReadSubsidiaries" class="m-top-6">
      <subsidiaries-list [dataToSubsidiaries]="dataToSubsidiaries"></subsidiaries-list>
    </div>
</div>